*{
  margin:0;
  padding:0;
}

$font-stack: Lato, sans-serif;
$color-white: #ffffff;


body{
  background-color: #ebebeb;
  font-family: $font-stack;
}

.c-navbar{
  background-color: #373c40;

  &__logo{
    padding: 1.25rem;
  }

  &__logo-item{
    font-size: 1.25rem;
    color: $color-white;
    text-decoration: none;
  }

  &__menu{
    display: none;
  }
}




@media only screen and (min-device-width : 768px) {

  .c-navbar{

    &__logo{
      display: none;
    }

    &__menu{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      padding: 1.5rem;
    }

    &__link {
      list-style: none;
      padding: 0.75rem;
    }

    &__link-item{
      color: $color-white;
      text-decoration: none;
    }
  }
}

.c-header{
  background: linear-gradient(to bottom right, #16b1c5, #088ca5);
  padding: 10% 20% 10% 10%;

  &__title{
    color: $color-white;
  }

  &__subtitle{
    padding-top: 5%;
    color: #b6cece;
  }
}

.c-switcher{
    background-color: #27212b;
    display: flex;
    width: 100%;
    justify-content: space-between;

  &__text{
    font-size: 0.85rem;
    color: #95859f;
    padding: 2rem;
  }

  &__arrow{
    background-color: #bc3184;
    padding: 2rem;
  }
}


.c-about{
  padding: 2.25rem;

  &__title{
    color: #088ca5;
    font-size: 1.25rem;
  }

  &__text{
    line-height: 1.5rem;
    padding-top: 1rem;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

.c-cards {
  font-size: 0;

  &__img {
    display: inline-block;
    width: 33.33%;
    padding: 0;
    margin: 0;
    vertical-align: top;
  }
}

.c-cards .c-cards__img.purple {
  background: purple;
  position: relative;

  .small {
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }

  &:after {
    padding-bottom: 86.5%;
    content: '';
    display: block;
  }
}


@media (max-width: 480px){

  .c-cards__img {
    width: 100%;
  }

  .c-about__text{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}


